<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <a href="/"><img src="/assets/img/sofg-logo-wide.png" alt="Student Outcomes Focused Governance" style="max-width:180px;filter:brightness(0) invert(1);margin-bottom:12px;display:block;"></a>
          <p>
            <strong>General Inquiries:</strong><a href="mailto:info@studentoutcomesfocused.org?subject=Re:+Student+Outcomes+Focused+Governance"> info at studentoutcomesfocused.org</a><br>
            <strong>Coaching Related:</strong><a href="mailto:coach@studentoutcomesfocused.org?subject=Re:+Find+Or+Become+An+SOFG+Coach"> coach at studentoutcomesfocused.org</a><br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>For School Systems</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/coach">Get A Coach</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/framework">Board Self Evaluations</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Resources</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="http://www.GreatOnTheirBehalf.com">Recommended Book</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/members">Coach Login</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>For Coaches</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/certification">Become An SOFG Coach</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/framework">The SOFG Framework</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Recommended Reading</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Council of the Great City Schools & airick journey crabill</span></strong>. All Rights Reserved
      </div>
    </div>

  </div>
</footer>
