<header id="header" class="fixed-top d-flex align-items-center" style="background:#fff; border-bottom:3px solid #003e7e;">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo me-auto"><img src="/assets/img/sofg-logo-wide.png" alt="Student Outcomes Focused Governance"></a>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/framework">The SOFG Framework</a></li>
        <li><a class="nav-link scrollto" href="/cohort">Join A Cohort</a></li>
        <li><a class="nav-link scrollto" href="/coach">Get A Coach</a></li>
        <li><a class="nav-link scrollto" href="/resources">Resources</a></li>
        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        <li><a class="nav-link scrollto" href="https://www.cgcs.org/" target="_blank">Visit CGCS</a></li>
        <li><a class="nav-link scrollto" href="/members">Coach Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
